name: CI

on:
  push:
    branches:
    - main
  pull_request:
env:
    DOTNET_NOLOGO: true
    DOTNET_SKIP_FIRST_TIME_EXPERIENCE: true
    MINVERBUILDMETADATA: build.${{ github.run_id }}.${{ github.run_attempt}}
permissions:
  id-token: write
  contents: read
concurrency:
  group: ${{ github.workflow }}-${{ github.event.pull_request.number || github.ref }}
  cancel-in-progress: true
jobs:
  build:
    strategy:
      fail-fast: false
    runs-on: ubuntu-latest
    steps:
    - name: Checkout
      uses: actions/checkout@v4.2.0
      with:
        fetch-depth: 0
    - name: Setup dotnet
      uses: actions/setup-dotnet@v4
      with:
        dotnet-version: |
          8.0.x
          9.0.x
          10.0.x
    - name: Build and Test
      run: ./Build.ps1
      shell: pwsh
  build-windows:
    needs: build
    strategy:
      fail-fast: false
    runs-on: windows-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v4.2.0
        with:
          fetch-depth: 0
      - name: Azure Login via OIDC
        uses: azure/login@v2
        with:
          client-id: ${{ secrets.AZURE_CLIENT_ID }}
          tenant-id: ${{ secrets.AZURE_TENANT_ID }}
          subscription-id: ${{ secrets.AZURE_SUBSCRIPTION_ID }}
      - name: Setup dotnet
        uses: actions/setup-dotnet@v4
        with:
          dotnet-version: |
            8.0.x
            9.0.x
            10.0.x
      - name: Install AzureSignTool
        run: dotnet tool install --global AzureSignTool
      - name: Build and Test
        run: ./Build.ps1
        shell: pwsh
      - name: Sign package
        run: |
          AzureSignTool sign \
          --azure-key-vault-url ${{ secrets.AZURE_KEYVAULT_URI }} \
          --azure-key-vault-client-id ${{ secrets.AZURE_CLIENT_ID }} \
          --azure-key-vault-tenant-id ${{ secrets.AZURE_TENANT_ID }} \
          --azure-key-vault-key ${{ secrets.CODESIGN_KEY_NAME }} \
          --description "AutoMapper" \
          --timestamp-url http://timestamp.digicert.com \
          ./artifacts/*.nupkg
      - name: Push to MyGet
        if: github.ref == 'refs/heads/main'
        env:
          NUGET_URL: https://f.feedz.io/lucky-penny-software/automapper/nuget/index.json
          NUGET_API_KEY: ${{ secrets.FEEDZIO_ACCESS_TOKEN }}
        run: ./Push.ps1
        shell: pwsh
      - name: Artifacts
        uses: actions/upload-artifact@v4
        with:
          name: artifacts
          path: artifacts/**/*
